---
import BaseLayout from './BaseLayout.astro'
const { frontmatter } = Astro.props
---

<BaseLayout pageTitle={frontmatter.title}>
	<main class="max-w-[1000px] mx-auto text-start mt-4 p-8">
		<div class="flex justify-between mb-4">
			<!-- <AstroGreet /> -->
			<p class="text-white/80">
				Escrito por: <span class="font-bold">{frontmatter.author}</span>
			</p>
			<p class="text-white/80">
				editado: <span class="font-bold">{frontmatter.pubDate.slice(0, 10)}</span>
			</p>
		</div>
		<p>{frontmatter.description}</p>

		<img
			class="w-[80%] max-w-[600px] mx-auto my-8 border border-gray-700 rounded-lg"
			src={frontmatter.image.url}
			alt={frontmatter.image.alt}
			title={frontmatter.image.alt}
		/>

		<h1 class="text-center">{frontmatter.title}</h1>

		<slot />

		<div class="flex flex-wrap gap-4 justify-center mt-8">
			{
				frontmatter.tags.map((tag) => (
					<p class="border border-dotted border-gray-300 py-1 px-4 rounded-xl text-lg bg-white/80">
						<a href={`/tags/${tag}`} class="text-sky-600">
							{tag}
						</a>
					</p>
				))
			}
		</div>
	</main>
</BaseLayout>
